<a href="https://colab.research.google.com/github/rodrigoromanguzman/Actividades_Aprendizaje-/blob/main/semana3_actividad1_rodrigo_roman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Semana 3 Acitividad 1 | Rodrigo Ildefonso Roman Guzman |A01794225|Data Science | Jobish | 28/Sep/2022



---

<h2>Parte 1: Fundamentos de bases de datos</h2>

<h3>1) Fundamentos de bases de datos y para ciencia de datos</h3>

<p>Existen diferentes tipos de fuentes de datos con las que trabaja un analista de datos o un scientifico de datos. Entre estos encontramos APIs, documentos de Excel o bases de datos formales de tipo relacional o no relacional. </p>
<p>
Las bases de datos relacionales son las mas communmente utilizadas debido a su optimizacion del registro de sus entradas. Dado que se proporciona un <i>Primary key</i> que funciona como referencia unica a una entidad especifica. Este tipo de base de datos permite la relacion entre tablas del tipo <i>one to many</i> o <i>many to many</i>. En las bases de datos encontramos dos componentes principales que son las <i>filas</i>: que son instancias de una entidad y <i>columnas</i> son las caracteristicas de la entidad.
</p>

<h3>2) Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos </h3>

<h3><b>Que es Data Warehouse?</b></h3> 
<p>
Basicamente es una base de datos enorme que contiene informacion de diferentes fuentes que vincula para ser utilizadas en conjunto. Data Warehouse tiene el reto de unir las fuentes, transformarlas en un esquema comun que permita hacer consultas eficientemente de todas las fuentes a la vez.
</p>
<h5><b>Que desafios se presentan en Data Warehouse?</b></h5> 
<ul>
  <li>Como lidiar con escalas iguales para los datos?</li>
  <li>Como lidiar con datos faltantes?</li>
  <li>Como lidiar con datos corruptos como los provenientes de bots?</li>
</ul>
<hr>
<h3><b>ETL vs ELT</b></h3> 

<b>ELT (Extract,Transform,Load):</b> 
<p>Consiste en extraer la informacion, transformarla y posteriormente cargarla. Es el metodo convencional de usar warehouse y actualmente es considerado anticuado
</p>

<b>ETL (Extract, Load, Transform):</b> 
<p> Se cuenta con una base de datos distribuida sobre un Hadoop cluster que permite usar las capacidades que ofrecen HIVE, Spark o MapReduce.
</p>
<p>
La principal diferencia es que ETL en vez de hacer procesos de transformacion de datos sin internet carga los datos en archivos de textop y pasa por cada linea por medio de Hadoop para entonces transformarlos en un formato mas estructurado que pueda ser consultado mas facilmente.
</p>

<h2>Parte 2: Selecci√≥n y limpieza de los Datos en Python</h2>

Importamos las librerias que vamos a utilizar

In [43]:
import pandas as pd
import numpy as np

<p>Hacemos lectura de nuestra base de datos con ayuda de Pandas</p>

In [51]:
prob_default_df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
print(prob_default_df.head())

   ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15      X16  \
0   1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0      0.0
1   2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0   3455.0
2   3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0  14948.0
3   4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0  28959.0
4   5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0  19146.0

       X17     X18      X19      X20     X21     X22     X23    Y
0      0.0     0.0    689.0      0.0     0.0     0.0     0.0  1.0
1   3261.0     0.0   1000.0   1000.0  1000.0     0.0  2000.0  1.0
2  15549.0  1518.0   1500.0   1000.0  1000.0  1000.0  5000.0  0.0
3  29547.0  2000.0   2019.0   1200.0  1100.0  1069.0  1000.0  0.0
4  19131.0  2000.0  36681.0  10000.0  9000.0   689.0   679.0  0.0

[5 rows x 25 columns]

<p>Revisamos si efectivamente existen datos nulos</p>

In [14]:
print('Hay valores nulos?','Si'if prob_default_df.isnull().values.any() == True else'No') #Primero revisamos si existe algun valor nulo
df.isna().sum().sum()
print('---------------------------')
print('Valores Nulos por Columna: \n',prob_default_df.isnull().any()) #Primero revisamos si existe algun valor nulo

Hay valores nulos? Si
---------------------------
Valores Nulos por Columna:
 ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

<h3>Solucion 1 </h3>
<p>Descartar las filas que contengan valores nulos</p>

In [66]:
drop_all_prob_default_df = prob_default_df.copy(deep = True) #Hacemos copia de la base de datos original para conservarla intacta
drop_all_prob_default_df.dropna(inplace=True) #Nos deshacemos de todas las hileras que contengan algun valor nulo
#Revisamos que no haya hileras con valores nulos
print('Hay valores nulos?','Si'if drop_all_prob_default_df.isnull().values.any() == True else'No') 
print('Total de valores nulos en la base de datos:',prob_default_df.isna().sum().sum())
print('\n')
print('Valores Nulos por columna: \n',prob_default_df.isna().sum())

Hay valores nulos? No
Total de valores nulos en la base de datos: 196


Valores Nulos por columna:
 ID      0
X1      0
X2      1
X3      2
X4      2
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

<p>Revisamos el estado de la base de datos resultante</p>

In [61]:
print('Forma de la base de datos modificada:',drop_all_prob_default_df.shape)
print('--------------------VS---------------------')
print('Forma de la base de datos original:',prob_default_df.shape)

Forma de la base de datos modificada: (29958, 25)
-----------VS------------
Forma de la base de datos original: (30000, 25)

<p>Notamos que de hecho son muy pocos los valores nulos que existen en la base de datos</p>

<p>Podemos revisar si hay filas donde todos los valored sean nulos</p>

In [62]:
drop_all_prob_default_df = prob_default_df.copy(deep = True) #Hacemos copia de la base de datos original para conservarla intacta
drop_all_prob_default_df.dropna(how = 'all', inplace = True)
print('Forma de la base de datos modificada:',drop_all_prob_default_df.shape)
print('--------------------VS---------------------')
print('Forma de la base de datos original:',prob_default_df.shape)

Forma de la base de datos modificada: (30000, 25)
--------------------VS---------------------
Forma de la base de datos original: (30000, 25)

<p>No hay ninguna fila con todos sus valores nulas</p>
<p>Podriamos intentar fijando un limite "Threshold" pero por la cantidad tan limitada de datos nulos podemos proceder con las siguientes tecnicas para ser aun mas especificos y tratar los datos de otra manera</p>

<h3>Solucion 2:</h3>